
.description {
  padding-bottom: 60px;
  padding-top: 60px;
  &__list {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
    list-style: none;
    }
    &__item {
      width: 450px;
      margin-bottom: 30px;
      &--last {
          margin-bottom: 0px;
      }
    }
    &__header {
      font-family: $primaryFont;
      font-weight: $fontBold;
      color: $primaryTextColor;
      display: flex;
      justify-content: center;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    &__pictrue {
     display: inline-block;
    }
    &__secondary-container {
      display: flex;
      justify-content: center;
      background-color: $secondColorBackground;
      padding-top: 25px;
      padding-bottom: 25px;
      margin-bottom: 30px;
    }
    &__text {
      font-family: $primaryFont;
      font-weight: $fontSmall;
      color: $secondaryTextColor;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      margin: 0px;
    }
}


