.page-header {
background-color: $thirdBackgroundColor;
border-bottom: 1px solid $borderLineColor;
}
.container {
    width: 480px;
    margin: auto;
}
.flex {
    display: flex;
    padding-left: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    align-items: center;
    justify-content: center;
  
}
.logo {
    color: $titleBackgroundtColor;
    font-family: $secondaryFont;
    font-weight: $fontBold;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-decoration: none;
    width: 134px;
    &__half {
        color: $thirdTextColor;
    }
    &--footer {
    color: $fouthTextColor;
    padding-bottom: 0px;
    }
}
.nav {
    display: none;
}
.contact {
    display: none;
            }
.menu-toggle {
    background-color: transparent;
    margin-left: 284px;
    margin-right: 23px;
    border: none;
    cursor: pointer;
    color: $primaryTextColor;
    &:focus,
    &:hover {
        color: $thirdTextColor;
    }
}            