
.personel {
    padding-bottom: 94px;
    padding-top: 94px;
    background-color: $secondColorBackground;
    &__header {
        font-family: $primaryFont;
        font-weight: $fontBold;
        color: $primaryTextColor;
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        margin-top: 0px;
        margin-bottom: 50px;
        padding-left: 495px;
        padding-right: 495px;
        text-align: center;
        white-space: nowrap;
    }
    &__list {
        display: flex;
        list-style: none;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0px;
    }
    &__name {
        font-family: $primaryFont;
        font-weight: $fontMedium;
        color: $primaryTextColor;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        margin-top: 30px;
        margin-bottom: 10px;
        padding-left: 99px;
        padding-right: 99px;
    }
    &__position {
        font-family: $primaryFont;
        font-weight: $fontSmall;
        color: $secondaryTextColor;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 16px;
        margin-top: 0px;
        padding-left: 70px;
        padding-right: 70px;
        white-space: nowrap;
    }
    &__item {
        background-color: $thirdBackgroundColor;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        width: 270px;
        margin-right: 30px;
        &--last {
            margin-right: 0px;
        }
    }
    &__social-media {
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 18px;
        white-space: nowrap;
        display: flex;
    }
    &__social-media-icon {
        fill: $iconColor;
        padding: 12px;
        &--last {
            margin-right: 0px;
        }
        &:hover,
        &:focus {
            fill: $fouthTextColor;
        }
    }
    &__social-media-link {
        display: flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        transition-property: background-color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:focus,
        &:hover {
         background-color: $fourthBackgroundColor;
        }
    }
}